{% extends 'gestion_libros/base.html' %}
{% load static %}

{% block title %}Nuestras Páginas| Book Flow{% endblock %}

{% block content %}
<div class="container px-5 my-5">
    <h1 class="text-center mb-5">Nuestras Páginas</h1>
    
    <div class="row">
        {% for page in pages %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h3 class="card-title">{{ page.title }}</h3>
                    <p class="card-text">{{ page.excerpt }}</p>
                </div>
                <div class="card-footer bg-transparent">
                    <a href="{% url 'inicio:detalle_pagina' page.pk %}" class="btn btn-primary">
                        Leer más
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

