{% extends 'gestion_libros/base.html' %}

{% block content %}
<!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
            <div class="container px-5">
                <a class="navbar-brand" href="{% url 'inicio:inicio' %}">
                    <span class="fw-bolder text-primary">Book Flow</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                        <li class="nav-item"><a class="nav-link" href="{% url 'inicio:listar_libros' %}">Libros</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'inicio:listar_autores' %}">Autores</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'inicio:listar_editoriales' %}">Editoriales</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'inicio:buscar' %}">Buscar</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'inicio:contacto' %}">Contacto</a></li> 
                    </ul>
                </div>
            </div>
        </nav>
    <h1>Nuestras Páginas</h1>
    <ul>
        {% for pagina in paginas %}
        <li>
            <h2>{{ pagina.titulo }}</h2>
            <p>{{ pagina.contenido|truncatewords:30 }}</p>
            <a href="{% url 'inicio:detalle_pagina' pagina.pk %}">Leer más</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}